<ul>
    <li><a href="{{ path('homepage') }}">Описание задания</a></li>
    <li><a href="{{ path('courier_list') }}">Список курьеров</a></li>
    <li><a href="{{ path('courier_create') }}">Добавить курьера</a></li>
    <li><a href="{{ path('region_list') }}">Список регионов</a></li>
    <li><a href="{{ path('region_create') }}">Добавить регион</a></li>
    <li><a href="{{ path('schedule_list') }}">Список поездок</a></li>
    <li><a href="{{ path('schedule_create') }}">Добавить поездку</a></li>
</ul>